.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
.claude/**
.superpowers/**
media/icon.svg
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
CLAUDE.md
code_design.md
vitest.config.ts
.vscode-test.mjs
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
